<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<!-- bootstrap css -->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	
	<!-- leaflet css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	
	<!-- custom styles -->
	<link rel='stylesheet' type='text/css' href='../css/style.css'>

	<!-- custom styles -->
	<link rel='stylesheet' type='text/css' href='../css/profile.css'>

	<title>Sound Bites</title>
</head>
<body>
	<div id='wrapper'>
		<div id='header'>
			<!-- navbar -->
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class='navbar-header left'>
			    	<a href='/'><img class='brand-img' src='https://i.imgur.com/YIHwwKr.png' /></a>
			    </div>
			    <div class="navbar-header right navbar-pad" id='navbar-view'></div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<div id='content'>
			<div class='row'>
				<div class='col-lg-9' id='left'>
					<div id='map'></div>
				</div>
				<div class='col-lg-3' id='right'>
					<h3 class='left'>Recent Searches</h3>
					<hr>
					<div id='results-view'></div>
				</div>
			</div>
			<!-- input template -->
			<div id='history-view'></div>
			
			<!-- display div -->
			<div class='row center'>
				<div class='col-md-6 col-md-offset-3'>
					<div id='result-view'></div>
				</div>
			</div>
		</div>
		
		<div id='footer'>
			<p><span class='attribute-left'><span class='popover-color' data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="Powered by Foursquare, Echo Nest, and Spotify.">About</span>&nbsp;&nbsp;|&nbsp;&nbsp;Created by </span><a target='_blank' href='http://www.iancivgin.com'>Ian Civgin</a></p>
		</div>
	</div>

	<!-- result-div template -->
	<script type ="text/x-handlebars-template" id='result-template'>
		<div class='row left result-div' data-lat='{{venueLat}}' data-lng='{{venueLng}}'>
			<div class='col-lg-4'>
				<h3>{{trackNameResult}}</h3>
				<p>{{artistNameResult}}</p>
			</div>
			<div class='col-lg-8'>
				<h3>{{venueName}}</h3>
				<p class='small'>{{venueCat}}<span class='right'><span class="glyphicon glyphicon-star inline" aria-hidden="true"></span>&nbsp;{{venueRating}}/10</span></p>
				<a target='_blank' class='venue-website' href='https://maps.google.com/maps?q={{ venueAddressA }} {{ venueAddressB }}'><span class='glyphicon glyphicon-road' aria-hidden='true'></span>&nbsp;&nbsp;Get directions</a>
				<a target='_blank' class='venue-website' href='{{ venueURL }}'><br><span class='glyphicon glyphicon-globe' aria-hidden='true'></span>&nbsp;&nbsp;Visit their website</a>
			</div>
		</div>
	</script>

	<!-- navbar user logged in -->
	<script type ="text/x-handlebars-template" id='user-true'>
		<ul class="nav navbar-nav">
		  <a href="/">New Search</a>
		  <a href="/logout">Logout</a>
		</ul>
	</script>

	<!-- navbar no user -->
	<script type ="text/x-handlebars-template" id='user-false'>
		<ul class="nav navbar-nav">
		  <a href="/signup">Sign Up</a>
		  <a href="/login">Login</a>
		</ul>
	</script>

	<!-- jquery -->
	<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js'></script>

	<!-- bootstrap js -->
	<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

	<!-- underscore -->
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
	
	<!-- handlebars -->
	<script type='text/javascript' src='https://cdn.jsdelivr.net/handlebarsjs/3.0.3/handlebars.min.js'></script>
	
	<!-- leaflet js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

	<!-- custom script -->
	<script type='text/javascript' src='../scripts/profile.js'></script>
</body>
</html>