<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<!-- bootstrap css -->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	
	<!-- leaflet css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

	<!-- custom styles -->
	<link rel='stylesheet' type='text/css' href='../css/style.css'>

	<title>Sound Bites</title>
</head>
<body>
	<div id='wrapper'>
		<div class='shift-left'>
		<!-- navbar -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header right navbar-pad" id='navbar-view'></div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- input template -->
		<div id='history-view'></div>
		
		<!-- display div -->
		<div class='row center'>
			<div class='col-md-6 col-md-offset-3'>
				<div id='result-view'></div>
			</div>
		</div>
		<div id='footer'>
			<p>Created by <a target='_blank' class='footer-ian' href='http://www.iancivgin.com'>Ian Civgin</a><span class='footer-right small'>Powered by Foursquare and EchoNest. Image by Tami Seymour.</span></p>
		</div>
	</div>

	<!-- navbar user logged in -->
	<script type ="text/x-handlebars-template" id='user-true'>
		<ul class="nav navbar-nav">
		  <p class='inline'><i>Hi, {{ user }} </i></p>
		  <a href="/">Search</a>
		  <a href="/logout">Logout</a>
		</ul>
	</script>

	<!-- navbar no user -->
	<script type ="text/x-handlebars-template" id='user-false'>
		<ul class="nav navbar-nav">
		  <a href="/signup">Sign Up</a>
		  <a href="/login">Login</a>
		</ul>
	</script>

	<script type='text/x-handlebars-template' id='result-template'>
		<h1 class='center'>Page Under Construction... check back soon.</h1>
		<h3 class='center'>Do not worry. Your searches are still being saved :)</h3>
	</script>

	<!-- jquery -->
	<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js'></script>

	<!-- bootstrap js -->
	<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

	<!-- underscore -->
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
	
	<!-- handlebars -->
	<script type='text/javascript' src='https://cdn.jsdelivr.net/handlebarsjs/3.0.3/handlebars.min.js'></script>
	
	<!-- leaflet js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

	<!-- custom script -->
	<script type='text/javascript' src='../scripts/profile.js'></script>
</body>
</html>