/* MAP */
#map {
	background-color: white ;
	height: 94%;
  margin: 20px 0px 20px 20px;
}

/* RESULTS */
.no-pad-top {
  padding-top: 0px;
  margin-top: 0px;
  padding-left:15px;
}
.result-div {
  margin: 0px;
  background-color: transparent;
  padding-bottom: 15px;
}

/* COLUMNS */
body, html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
#left {
  position: fixed;
  top: 0px;
  bottom:0;
  left: 0;
  width: 75%;
  overflow-y: hidden; 
  margin-top: 70px;
  padding: 15px 0px 15px 15px;
}
#right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -20px;
  overflow-y: scroll;
  width: 25%;
  margin-top: 90px;
  margin-bottom: 50px;
  padding-right: 35px;
  background: (100,100,100,.7);
}