.center {
	float: center;
	text-align: center;
}
.left {
	text-align: left;
}
.large {
	font-size:48px;
}
.right {
	float: right;
}
.input-field {
	padding-left: 10px;
	margin-bottom: 10px;
	height: 50px;
	width: 75%;
	/*background-color: transparent;*/
	color: white;
	font-size: 20px;
}
.top-hr {
	margin-bottom: 7px;
}
.btn-submit {
	width: 75%;
}


/*final-result template*/
.album-art {
	width: 200px;
}
.map {
	width: 400px;
}
.inline {
	display: inline;
}
.btn-test-a {
	width: 35%;
	margin-left: 10%;
}
.btn-test-b {
	width: 35%;
	margin-left: 15%;
}

#map { height: 400px; }

.result-track-name {
	margin-top: 5px;
}
.result-artist-name {
	margin-top: 5px;
}

body { 
	/*http://i.imgur.com/z7MX1wX.jpg*/
  background: url(https://i.imgur.com/g8yFXvR.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 20px;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: white;
}

.results {
	padding: 0px 20px 20px 20px;
	border-radius: 10px;
}
.top {
	margin-top:50px;
}



input,
textarea,
select {
    border: 1px solid rgba(120, 120, 120, .5);
    background: #444;
    color: white;
    background: rgba(64, 64, 64, .5);
    -webkit-appearance: none;
  
}
input:focus,
textarea:focus,
select:focus { outline-color: rgba(180, 180, 180, .5) }
textarea {
    height: 55px;
    background: grey;
}

::-webkit-input-placeholder {
   color: lightgrey;
}

:-moz-placeholder { /* Firefox 18- */
   color: lightgrey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lightgrey;  
}

:-ms-input-placeholder {  
   color: lightgrey;  
}

.rating {
	background: green;
	font-size:16px;
	border-radius: 20px;
	padding: 10px;
	padding-bottom: 10px;
}
.no-pad-left {
	padding-left:0px;
}
.no-pad-top {
	padding-top:0px;
}
.navbar-right {
	float: right;
}
.navbar-pad {
	padding-right: 30px;
}
.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > p {
	color: lightgrey;
	padding-left: 20px;
	font-size: 16px;
}
.navbar-default .navbar-nav>a:hover {
	color: #337ab7;
	text-decoration: none;
}
.navbar-default .navbar-nav>a:active {
	color: #337ab7;
	text-decoration: none;
}
.navbar-default {
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 0px;
}
.shift-left {
	margin-left: 20px;
}
.navbar-default .navbar-nav>li {
	display: inline;
}
li {
	display: inline;
}
#footer {
	background: transparent;
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:15;
	color: lightgrey;
}
html,
body {
	padding:0;
	height:99%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
.large-footer {
	font-size: 16px;
}
.small {
	font-size: 14px;
}
#footer a {
	/*color: grey;*/
}
.footer-right {
	float: right;
	margin-right: 15px;
}
.no-margin-top {
	margin-top:0px;
}
.venue-name {
	margin-right: 15px;
}
.instructional {
	margin-top: 10px;
}