/* General ------------------------------------------------------------*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:6px;
}
#content {
	padding-bottom:70px;
}
#footer {
	height:30px;
	width: 100vw;
	position:absolute;
	bottom:15px;
	left:0;
	padding-left: 41px;
}
body { 
	background-color: #2A3552;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
	font-weight: 300;
	color: white;
	background: url(https://i.imgur.com/feqUsCJ.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Default Buttons ------------------------------------------------------------*/
.btn-primary {
	background-color: #1498B8;
	border-color: #1498B8;
	font-size: 18px;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #1390AD;
	border-color: #1390AD;
}

/* Alignment CSS ------------------------------------------------------------*/
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	float: right;
}
.no-pad-left {
	padding-left:0px;
}
.no-pad-top {
	padding-top:0px;
}
.no-margin-top {
	margin-top:0px;
}

/* Sizing CSS ------------------------------------------------------------*/
.small {
	font-size: 14px;
}
.large {
	font-size:48px;
}

/* Other General CSS ------------------------------------------------------------*/
.inline {
	display: inline;
}
hr {
	border-color: grey;
}

/* Scroll Selection Color ------------------------------------------------------------*/
::selection {
	  background: grey;
}
::-moz-selection {
	  background: grey;
}

/* HEADER ------------------------------------------------------------*/
.brand-img {
	height: 40px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.navbar-right {
	float: right;
}
.navbar-nav {
	padding-top: 4px;
}
.navbar-pad {
	padding-right: 30px;
}
.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > p {
	color: white;
	padding-left: 20px;
	font-size: 16px;
}
.navbar-default .navbar-nav>a:hover {
	color: #1498B8;
	text-decoration: none;
}
.navbar-default .navbar-nav>a:active {
	color: #1498B8;
	text-decoration: none;
}
.navbar-default {
	margin-top: 15px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 0px;
}

.navbar-default .navbar-nav>li {
	display: inline;
}
.collapsed-nav {
	margin-top: 0px;
	border: 0px;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-toggle:hover {
	background-color: lightgrey;
}

/* FOOTER ------------------------------------------------------------*/
.popover {
	color: black;
	text-shadow: none;
}
#footer a {
	color: lightgrey;
	text-decoration: none;
}
#footer a:hover {
	color: #2DB5D4;
	text-decoration: none;
}
.fb-share-button {
	padding-right: 36px;
}

/* SEARCH TEMPLATE ------------------------------------------------------------*/
.search {
	min-height: 400px;
	padding-top: 35px;
}
.greeting {
	margin-top:50px;
}
.top-hr {
	margin-bottom: 7px;
}
.input-field {
	padding-left: 10px;
	margin-bottom: 10px;
	height: 50px;
	width: 75%;
	color: white;
	font-size: 20px;
}
.btn-submit {
	width: 75%;
}
input,
textarea,
select {
	background: rgba(80, 80, 80, .7);
    border: 1px solid rgba(122, 122, 122, .5);
    color: white;
}
input:focus,
textarea:focus,
select:focus { 
	outline-color: rgba(180, 180, 180, .5);
}
textarea {
	background: grey;
    height: 55px;
}
::-webkit-input-placeholder { color: lightgrey; }
:-moz-placeholder { color: lightgrey; }
::-moz-placeholder { color: lightgrey; }
:-ms-input-placeholder { color: lightgrey; }
.mobile-margin-bottom {
	margin-bottom: 50px;
}
.cvp {
	text-shadow: 1px 1px 1px grey;
}
.how { color: grey; }
.how:hover {
	color: #2DB5D4;
}

/* RESULT TEMPLATE ------------------------------------------------------------*/
.result-background {
	background-color: rgba(80,80,80,.5);
	padding: 15px;
	margin-top: 25px;
	border-radius:7;
}
.album-art {
	width: 200px;
	border-radius: 1px;
}
.result-track-info {
	margin-top: 5px;
}
#map { 
	height: 400px;
	border-radius: 2px;
}
.results {
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
}
.venue-name {
	margin-right: 20px;
}
.venue-website {
	color: #31C6E8;
}
.venue-website:hover,
.venue-website:focus {
	color: #2DB5D4;
	text-decoration: none;
}
.result-btn {
	width: 46%;
	margin-top: 15px;
	font-size: 14px;
}

.rating {
	color: #2EBBDB;
	padding-top: 8px;
}

/* SIGN UP & LOGIN ------------------------------------------------------------*/
.instructional {
	margin-top: 10px;
}
.error-notification {
	color: white;
}
.red {
	color: red;
}

/* PROFILE ------------------------------------------------------------*/
.white {
	color: white;
}

/* Instructables ------------------------------------------------------------*/
.instructable {
	min-height: 160px;
	border-left: solid grey 1px;
}
.instructable-menu {
	background: rgba(80,80,80,.5);
	padding-bottom: 35px;
	border-radius: 10px;
}
.instructable-menu div {
	border-color: white;
}