.album-art {
	width: 150px;
}
.center {
	float: center;
}
.map {
	width: 400px;
}
.inline {
	display: inline;
}
.btn-test-a {
	width: 35%;
	margin-left: 10%;
}
.btn-test-b {
	width: 35%;
	margin-left: 15%;
}